.card {
  width: 150px;
  height: 200px;
  background: linear-gradient(135deg, rgba(255, 182, 193, 0.6), rgba(135, 206, 250, 0.6), rgba(255, 255, 224, 0.6), rgba(144, 238, 144, 0.6), rgba(221, 160, 221, 0.6));
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
  margin-bottom: 1rem;
  color: #333;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px rgba(0, 0, 255, 0.6);
}

.used {
  background-color: #d3d3d3;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  cursor: not-allowed;
  transform: scale(1);
}

.unavailable {
  opacity: 0.4;
  cursor: not-allowed;
}
